USE [master]
GO
/****** Object:  Database [TelerikKindergarten]    Script Date: 30.8.2014 г. 17:02:31 ******/
CREATE DATABASE [TelerikKindergarten]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelerikKindergarten].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelerikKindergarten]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetTypeID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[Value] [money] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssetTypes]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTypes](
	[AssetTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AssetTypes] PRIMARY KEY CLUSTERED 
(
	[AssetTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Children]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[ChildID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[AdmissionDate] [date] NOT NULL,
	[ConclusionDate] [date] NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_Children] PRIMARY KEY CLUSTERED 
(
	[ChildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NULL,
 CONSTRAINT [PK_Departments_1] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 30.8.2014 г. 17:02:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[SupervisorID] [int] NOT NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

GO
INSERT [dbo].[Assets] ([AssetID], [AssetTypeID], [DepartmentID], [Value], [Description]) VALUES (1, 1, 3, 30.0000, NULL)
GO
INSERT [dbo].[Assets] ([AssetID], [AssetTypeID], [DepartmentID], [Value], [Description]) VALUES (2, 1, 3, 30.0000, NULL)
GO
INSERT [dbo].[Assets] ([AssetID], [AssetTypeID], [DepartmentID], [Value], [Description]) VALUES (3, 1, 3, 30.0000, NULL)
GO
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetTypes] ON 

GO
INSERT [dbo].[AssetTypes] ([AssetTypeID], [Name]) VALUES (1, N'Chair')
GO
INSERT [dbo].[AssetTypes] ([AssetTypeID], [Name]) VALUES (2, N'Table(small)')
GO
INSERT [dbo].[AssetTypes] ([AssetTypeID], [Name]) VALUES (3, N'Table(big)')
GO
SET IDENTITY_INSERT [dbo].[AssetTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Children] ON 

GO
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [Address], [AdmissionDate], [ConclusionDate], [GroupID]) VALUES (1, N'Emil', NULL, N'Slavov', N'Vasil Levski 10', CAST(N'2004-12-01' AS Date), NULL, 1)
GO
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [Address], [AdmissionDate], [ConclusionDate], [GroupID]) VALUES (2, N'Martin', NULL, N'Tonkov', N'Stara planina 2', CAST(N'2003-10-01' AS Date), CAST(N'2004-03-02' AS Date), 1)
GO
INSERT [dbo].[Children] ([ChildID], [FirstName], [MiddleName], [LastName], [Address], [AdmissionDate], [ConclusionDate], [GroupID]) VALUES (4, N'Valentin', NULL, N'Radev', N'Ivan Vazov 5', CAST(N'2005-04-13' AS Date), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Children] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

GO
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (1, N'Cooking', 3)
GO
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (2, N'Maintenance', 2)
GO
INSERT [dbo].[Departments] ([DepartmentID], [Name], [ManagerID]) VALUES (3, N'Children care', 7)
GO
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [ManagerID], [DepartmentID]) VALUES (1, N'Evgenia', N'Atanasova', N'Mingova', NULL, NULL)
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [ManagerID], [DepartmentID]) VALUES (2, N'Atanas', N'Ivanov', N'Petrov', 1, 2)
GO
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [MiddleName], [LastName], [ManagerID], [DepartmentID]) VALUES (3, N'Silvia', N'Aleksandrova', N'Berova', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

GO
INSERT [dbo].[Groups] ([GroupID], [SupervisorID], [Notes]) VALUES (1, 8, NULL)
GO
INSERT [dbo].[Groups] ([GroupID], [SupervisorID], [Notes]) VALUES (2, 9, NULL)
GO
INSERT [dbo].[Groups] ([GroupID], [SupervisorID], [Notes]) VALUES (3, 10, NULL)
GO
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_AssetTypes] FOREIGN KEY([AssetTypeID])
REFERENCES [dbo].[AssetTypes] ([AssetTypeID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_AssetTypes]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Departments]
GO
ALTER TABLE [dbo].[Children]  WITH CHECK ADD  CONSTRAINT [FK_Children_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[Children] CHECK CONSTRAINT [FK_Children_Groups]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Persons] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Persons]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Persons] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Persons_Persons]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Employees] FOREIGN KEY([SupervisorID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Employees]
GO
USE [master]
GO
